@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 224.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 5% 20%;
    --foreground: 210 4% 98%;

    --card: 222.2 5% 20%;
    --card-foreground: 210 4% 98%;

    --popover: 222.2 5% 20%;
    --popover-foreground: 210 4% 98%;

    --primary: 210 4% 98%;
    --primary-foreground: 222.2 5% 11.2%;

    --secondary: 217.2 3% 17.5%;
    --secondary-foreground: 210 4% 98%;

    --muted: 217.2 3% 17.5%;
    --muted-foreground: 215 2% 65.1%;

    --accent: 217.2 3% 17.5%;
    --accent-foreground: 210 4% 98%;

    --destructive: 0 6% 30.6%;
    --destructive-foreground: 210 4% 98%;

    --border: 217.2 3% 17.5%;
    --input: 217.2 3% 17.5%;
    --ring: 212.7 2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
  }
}

body {
  @apply mx-auto  bg-light-bg   dark:bg-dark-bg;
}

nav,
main {
  @apply px-[40px] lg:px-[0px];
}
main {
  @apply mx-auto max-w-[1024px];
}
header.home {
  @apply mt-[90px] grid h-[1150px] grid-cols-1 md:h-[1400px] 2xl:h-[900px]  2xl:grid-cols-2;
}
h1 {
  @apply text-[48px] font-bold text-light-title dark:text-dark-title;
}

h2 {
  @apply text-[18px] text-light-reg-text dark:text-dark-reg-text;
}
h3 {
  @apply text-[18px] text-light-subtitle dark:text-dark-subtitle;
}
h4 {
  @apply text-light-less-text dark:text-dark-less-text;
}

h5.title {
  @apply text-[24px] font-bold text-light-title dark:text-dark-title;
}

p {
  @apply text-light-reg-text dark:text-dark-reg-text;
}

.component-style {
  @apply border border-light-reg-text/10 bg-white shadow-sm dark:border-dark-reg-text/50;
}
